# Python dočasné soubory
__pycache__/
*.py[cod]
*$py.class

# Virtuální prostředí
.venv/
venv/
env/

# Databáze
*.db
*.sqlite3

# IDE nastavení
.vscode/
.idea/

# Nastavení
settings.json

# Dočasné soubory (faktury)
*.pdf
*.log

# PyInstaller
build/
dist/

# Gemini code assist
.geminiignore